@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 400;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.hovers {
  @apply hidden;
}

.linear-bg {
  background: linear-gradient(269.82deg, #07091c00 0.17%, #080a1ad6 99.87%);
}

.hovered:hover .hovers {
  @apply flex-colo;
}

.flex-colo {
  @apply flex flex-col justify-center items-center;
}

.flex-rows {
  @apply flex-row justify-center items-center;
}

.flex-btn {
  @apply flex justify-between items-center;
}

.transitions {
  @apply transition duration-300 ease-in;
}

.zIndex {
  z-index: 10000;
}
